
<nav class="white grey-text text-darken-4" role="navigation">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo">Platform</a>
    <ul id="pl-nav" class="right hide-on-med-and-down">
      {% if user %}
      <li><a href="/chat">Чат</a></li>
      <li><a href="/gallery">Галерея</a></li>
      <li><a href="/profile">Профиль</a></li>
      <li><a href="/logout">Выйти</a></li>
      {% else %}
      <li><a href="/login">Войти</a></li>
      {% endif %}
    </ul>
    <ul id="pl-nav-mobile" class="side-nav">
      {% if user %}
      <li><a href="/chat">Чат</a></li>
      <li><a href="/gallery">Галерея</a></li>
      <li><a href="/profile">Профиль</a></li>
      <li><a href="/logout">Выйти</a></li>
      {% else %}
      <li><a href="/login">Войти</a></li>
      {% endif %}
    </ul>
    <a href="" data-activates="pl-nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
