<!-- скрипты внизу body -->
<script src="/js/lib/jquery-3.1.0.min.js"></script>
<script src="/js/utility.js"></script>
<script src="/js/notification.js"></script>
<script src="/js/lib/materialize.js"></script>
<script src="/js/init-materialize.js"></script>