{% extends "layout.html" %}

{% block stylesheets %}

<link rel="stylesheet" href="css/chat.css">

{% endblock %}

{% block content %}
  <div class="container">
      <div class="pl-chat card-panel col s12">
          <div class="pl-msg-wrap">
              <div class="pl-msg card-panel right blue lighten-4">
                  <div class="blue-grey-text text-lighten-2"><sup class="pl-msg-from">Вы</sup><sup class="pl-msg-time">11:30</sup></div>
                  Уруру! Первое сообщение!
              </div>
              <br class="clear">
          </div>
          <div class="pl-msg-wrap">
              <div class="pl-msg card-panel left blue lighten-5">
                  <div class="blue-grey-text text-lighten-2"><sup class="pl-msg-from">Кто-то</sup><sup class="pl-msg-time">11:31</sup></div>
                  Уруру! Второе сообщение!
              </div>
              <br class="clear">
          </div>
      </div>

      <div class="row">
          <div class="pl-msg-zone-wrap input-field col s12">
              <label for="pl-msg-zone">Введите сообщение:</label>
              <textarea id="pl-msg-zone" class="pl-msg-zone materialize-textarea" autofocus></textarea>
          </div>
          <div class="pl-msg-send-wrap col s2 pull-s1 valign-wrapper">
              <a class="pl-msg-send btn btn-large waves-effect waves-light valign"><i class="material-icons">send</i></a>
          </div>
      </div>
  </div>

{% endblock %}

{% block scripts %}

<script src="js/lib/socket.io.min.js"></script>
<script src="js/lib/cookie.js"></script>
<script src="js/handlers/chat.js"></script>

{% endblock %}