{% extends "layout.html" %}

{% block stylesheets %}

<link rel="stylesheet" href="css/gallery.css">
<link rel="stylesheet" href="/css/lib/baguetteBox.min.css">

{% endblock %}

{% block content %}

  <div class="container">

    <h3>Галерея</h3>
    <p>Загрузите изображения, просто перетащив их на экран.</p>
    <div class="pl-images-container"></div>

  </div>

{% endblock %}

{% block scripts %}

<script src="/js/lib/baguetteBox.min.js"></script>
<script src="js/handlers/gallery.js"></script>

{% endblock %}