{% extends "layout.html" %}

{% block content %}

  {% if user %}

    <div class="container">
      <br><br>
      <div class="card-panel center-align">
        <h2>Добро пожаловать домой,
          <br>
          {{ user.firstName }} {{ user.lastName }}
        </h2>
      </div>
    </div>

  {% else %}

    <div class="container">
      <br><br>
      <div class="card-panel center-align">
        <h2>Привет, незнакомец!</h2>
        <br>
        <h5 class="">Сегодня отличный день, чтобы присоединиться к нам! ;)</h5>
        <br><br>
        <a class="waves-effect waves-light btn-large" href="/join">Присоединиться</a>
      </div>
    </div>

  {% endif %}

{% endblock %}