{% extends "layout.html" %}

{% block content %}

<div class="row section container">

  <h2>Регистрация</h2>
  <form class="col s12 pl-join_form">
    <div class="row">
      <div class="input-field col s6">
        <input id="pl-first_name" class="validate" name="first_name" type="text" pattern="^[а-яА-ЯёЁa-zA-Z][а-яА-ЯёЁ\w-_]{1,30}$">
        <label for="pl-first_name">Имя</label>
      </div>
      <div class="input-field col s6">
        <input id="pl-last_name" class="validate" type="text" name="last_name" pattern="^[а-яА-ЯёЁa-zA-Z][а-яА-ЯёЁ\w-_]{1,30}$">
        <label for="pl-last_name">Фамилия</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="pl-email" class="validate" type="email" name="email">
        <label for="pl-email" data-error="Некорректный email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="pl-password" class="validate" type="password" name="password" pattern="^[^\u0022'`]{4,40}$">
        <label for="pl-password">Пароль</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light pl-join_form-submit">Регистрация
      <i class="material-icons right">send</i>
    </button>
  </form>

</div>

{% endblock %}

{% block scripts %}

<script src="js/handlers/forms.js"></script>

{% endblock %}