<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Platform</title>

  <!-- основные стили -->
  {% include "chunks/stylesheets.html" %}
  <!-- стили, необходимые для конкретной страницы -->
  {% block stylesheets %}{% endblock %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

  {% set user = user %}
  {% include "chunks/header.html" %}

  {% block content %}{% endblock %}

  <!-- основные скрипты -->
  {% include "chunks/scripts.html" %}
  <!-- скрипты, необходимые для конкретной страницы -->
  {% block scripts %}{% endblock %}

</body>

</html>