{% extends "layout.html" %}

{% block content %}

<div class="row section container">

  <h2>Войдите в систему</h2>
  <form class="col s12 pl-login_form">
    <div class="row">
      <div class="input-field col s12">
        <input id="pl-email" class="validate" type="email" name="email" >
        <label for="pl-email" data-error="Некорректный email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="pl-password" class="validate" type="password" name="password" pattern="^[^\u0022'`]{4,40}$">
        <label for="pl-password" data-error="Длина пароля от 4 до 40 символов">Пароль</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light pl-login_form-submit">Войти
      <i class="material-icons right">send</i>
    </button>
  </form>

</div>

{% endblock %}

{% block scripts %}

<script src="js/handlers/forms.js"></script>

{% endblock %}