{% extends "layout.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}

<div class="container">

    <h3>Личный профиль</h3>
    <div class="col s12">
        <form class="card-panel col s6">
            <div class="row">
                <div class="input-field col s6">
                    <input id="pl-first_name" name="first_name" type="text" value="{{ user.firstName }}">
                    <label for="pl-first_name">Имя</label>
                </div>
                <div class="input-field col s6">
                    <input id="pl-last_name" type="text" name="last_name" value="{{ user.lastName }}">
                    <label for="pl-last_name">Фамилия</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light pl-profile_form-submit">Сохранить изменения
                <i class="material-icons right">save</i>
            </button>
        </form>
        <form class="card-panel col s6">
            <div class="row">
                <div class="input-field col s12">
                    <input id="pl-email" type="email" name="email" value="{{ user.email }}">
                    <label for="pl-email">Email</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light pl-profile_form-submit">Сохранить изменения
                <i class="material-icons right">save</i>
            </button>
        </form>

        <!--fixme разобраться с виртуальными полями при апдейте и вернуть-->
        <!--
        <form class="card-panel col s6">
            <div class="row">
                <div class="input-field col s6">
                    <input id="pl-password" type="password" name="password" >
                    <label for="pl-password">Новый пароль</label>
                </div>
                <div class="input-field col s6">
                    <input id="pl-retype-password" type="password" name="retype_password" >
                    <label for="pl-retype-password">Повторите</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light pl-profile_form-submit">Сохранить изменения
                <i class="material-icons right">save</i>
            </button>
        </form>
        -->
    </div>

</div>

{% endblock %}

{% block scripts %}

<script src="js/handlers/forms.js"></script>

{% endblock %}