/* чат */
.pl-chat {
    position: relative;
    width: 100%;
    height: 500px;
    padding: 5px;
    overflow-y: auto;
}

.pl-msg-zone-wrap, .pl-msg-send-wrap {
    height: 130px;
}

.pl-msg-send-wrap {
    position: absolute !important;
}

.pl-msg-zone {
    box-sizing: border-box !important;
    height: 100px !important;
    padding-right: 15% !important;
    margin-top: 10px !important;
    overflow-y: auto !important;
    color: black;
}

.pl-msg-zone::-webkit-scrollbar {
    display: none;
}

.pl-chat-notify,
.pl-msg {
    padding: 10px;
}

.pl-msg {
    max-width: 80%;
}

.pl-msg-time {
    margin-right: 3px;
    padding-right: 3px;
}

.pl-chat-text {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
}

