/* галерея */
.pl-images-container{
  padding: 40px 10px;
}
.pl-image-block{
  position: relative;
  display: inline-block;
  margin: 5px;
  max-width: 250px;
}
.pl-thumbnail{
  position: relative;
  display: inline-block;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: default;
  width: 250px;
  height: 250px;
}
.pl-thumbnail:hover {
  top: -1px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow .2s;
}
.pl-thumbnail img{
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: auto;
  max-width: 250px;
  max-height: 250px;
}
.pl-image-helper{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.pl-image-wrap{
  cursor: zoom-in;
}
.pl-image-name{
  margin-top: -25px;
  padding: 0 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  opacity: 0;
}
.pl-image-control{
  position: absolute;
  top: 0;
  height: 40px;
  width: 100%;
  line-height: 40px;
  text-align: center;
}
.pl-public-toggle-wrap{
  display: inline-block;
  opacity: 0;
}
.pl-image-link,
.pl-image-del{
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  opacity: 0;
  color: #9e9e9e
}
.pl-image-link{
  float: left;
  font-size: 2rem;
  padding-left: 5px;
}
.pl-image-link:hover{
  color: #84c7c1
}
.pl-image-del{
  float: right;
  font-size: 3rem;
  padding-right: 5px;
}
.pl-image-del:hover {
  color: #D32F2F;
}
.pl-thumbnail:hover .pl-public-toggle-wrap,
.pl-thumbnail:hover .pl-image-del,
.pl-thumbnail:hover .pl-image-link,
.pl-thumbnail:hover .pl-image-name{
  opacity: .9;
  transition: opacity .2s;
}
/* стили загрузчика изображений */
.dropzone-wrap {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 120;
}
.dropzone-border {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 90;
  margin: 30px;
  outline: 5px dashed #fff;
}
.dropzone-text {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 90;
  padding-top: 70px;
  vertical-align: middle;
  text-align: center;
  background-color: black;
  opacity: 0.7;
}
.dropzone-text span {
  color: #fff;
  font-size: 2rem;
}

