#notifications {
  width: 450px;
  top: 60px;
  right: 50px;
  position: fixed;
  z-index: 9999;
  list-style: none;
}

.notification {
  width: 100%;
  margin-bottom: 8px;
  display: block;
  position: relative;
  border-left: 4px solid;
  right: -50px;
  opacity: 0;
  line-height: 1;
  padding: 0;
  transition: right 400ms, opacity 400ms, line-height 300ms 100ms, padding 300ms 100ms;
  display: table;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #f7f7f7;
}

.notification:hover {
  top: -1px;
  cursor: pointer;
  transition: box-shadow .2s;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.notification-open {
  right: 0;
  opacity: .95;
  line-height: 2;
  padding: 10px 15px;
  transition: line-height 200ms, padding 200ms, right 350ms 200ms, opacity 350ms 200ms;
}

.notification-title {
  font-weight: bold;
}

.notification-block {
  width: 80%;
  width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px);
  text-align: left;
}

.notification-block em, .notification-block small {
  font-size: .75em;
  opacity: .75;
}

.notification i {
  font-size: 2em;
  width: 1.5em;
  max-height: 48px;
  top: 50%;
  margin-top: -12px;
  display: table-cell;
  vertical-align: middle;
}

.notification-success {
  border-color: #539753;
  background-color: #8fbf2f;
}

.notification-error {
  border-color: #b71c1c;
  background-color: #d32f2f;
}

.notification-info {
  border-color: #42a5f5;
  background-color: #90caf9;
}

.notification-warning {
  border-color: #fb8c00;
  background-color: #ffa726;
}